html {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  float: none;
  background-color: #fff;
}
.container .hero-block-1 {
  background: no-repeat, rgba(198, 108, 73, 0.4);
  background-image: url(../img/Untitled-1.svg);
  background-size: cover;
  height: 768px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: aqua;
  justify-content: space-around;
}
.container .hero-block-1 .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 20%;
}
.container .hero-block-1 .header .portfolio {
  margin: 200px;
  display: flex;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.container .hero-block-1 .header .navigation {
  display: flex;
  margin-right: 400px;
  width: 100%;
  justify-content: flex-end;
  margin-block-end: 10px;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.container .hero-block-1 .header .navigation .home {
  margin-left: 59px;
}
.container .hero-block-1 .header .navigation .about {
  margin-left: 59px;
}
.container .hero-block-1 .header .navigation .skills {
  margin-left: 59px;
}
.container .hero-block-1 .header .navigation .portfolio2 {
  margin-left: 59px;
}
.container .hero-block-1 .header .navigation .contact {
  margin-left: 59px;
}
.container .hero-block-1 .texts {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 200px;
  justify-content: center;
}
.container .hero-block-1 .texts .hidesigner .hi {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 78px;
  color: white;
}
.container .hero-block-1 .texts .hidesigner .designer {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: white;
}
.container .hero-block-1 .texts .latest {
  margin-top: 100px;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: white;
}
.container .aboutblock {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: center;
  margin: 70px 70px;
  height: 544px;
}
.container .aboutblock .aboutmain {
  margin: 50px 50px;
  margin-bottom: 50px;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}
.container .aboutblock .text {
  margin: 50px 50px;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}
.container .aboutblock .text .text1 {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}
.container .aboutblock .text .text2 {
  margin-top: 30px;
}
.container .skillsblock {
  height: 693px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #fffaf2;
}
.container .skillsblock .skillsmain {
  display: flex;
  justify-content: flex-start;
  margin-right: 1270px;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
.container .skillsblock .skillsbasic {
  margin-right: 110px;
  margin-top: 50px;
  display: flex;
  flex-flow: row;
}
.container .skillsblock .skillsbasic .img {
  margin-right: 220px;
}
.container .skillsblock .skillsbasic .information {
  display: flex;
  flex-flow: column nowrap;
}
.container .skillsblock .skillsbasic .information .information1 {
  display: flex;
  flex-flow: row;
  margin: 20px 20px;
}
.container .skillsblock .skillsbasic .information .information1 .profile {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.container .skillsblock .skillsbasic .information .information1 .front {
  margin-left: 125px;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}
.container .skillsblock .skillsbasic .information .information2 {
  display: flex;
  flex-flow: row;
  margin: 20px 20px;
}
.container .skillsblock .skillsbasic .information .information2 .research {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.container .skillsblock .skillsbasic .information .information2 .bar1 {
  display: flex;
  margin-left: 75px;
}
.container .skillsblock .skillsbasic .information .information2 .bar1 .bar1-1 {
  position: relative;
  background-color: #f5d6ab;
  height: 24px;
  width: 400px;
}
.container .skillsblock .skillsbasic .information .information2 .bar1 .bar1-2 {
  position: absolute;
  right: 479px;
  background-color: #c66c49;
  height: 24px;
  width: 350px;
}
.container .skillsblock .skillsbasic .information .information3 {
  display: flex;
  flex-flow: row;
  margin: 20px 20px;
}
.container .skillsblock .skillsbasic .information .information3 .tools1 {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.container .skillsblock .skillsbasic .information .information3 .paper {
  margin-left: 135px;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}
.container .skillsblock .skillsbasic .information .information4 {
  display: flex;
  flex-flow: row;
  margin: 20px 20px;
}
.container .skillsblock .skillsbasic .information .information4 .design {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.container .skillsblock .skillsbasic .information .information4 .bar2 {
  display: flex;
  margin-left: 80px;
}
.container .skillsblock .skillsbasic .information .information4 .bar2 .bar2-1 {
  margin-left: 20px;
  position: relative;
  background-color: #f5d6ab;
  height: 24px;
  width: 400px;
}
.container .skillsblock .skillsbasic .information .information4 .bar2 .bar2-2 {
  position: absolute;
  right: 509px;
  background-color: #c66c49;
  height: 24px;
  width: 320px;
}
.container .skillsblock .skillsbasic .information .information5 {
  display: flex;
  flex-flow: row;
  margin: 20px 20px;
}
.container .skillsblock .skillsbasic .information .information5 .tools2 {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.container .skillsblock .skillsbasic .information .information5 .adobe {
  margin-left: 140px;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}
.container .skillsblock .skillsbasic .information .information6 {
  display: flex;
  flex-flow: row;
  margin: 20px 20px;
}
.container .skillsblock .skillsbasic .information .information6 .dev {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.container .skillsblock .skillsbasic .information .information6 .bar3 {
  display: flex;
  margin-left: 65px;
}
.container .skillsblock .skillsbasic .information .information6 .bar3 .bar3-1 {
  margin-right: 30px;
  position: relative;
  background-color: #f5d6ab;
  height: 24px;
  width: 400px;
}
.container .skillsblock .skillsbasic .information .information6 .bar3 .bar3-2 {
  position: absolute;
  right: 549px;
  background-color: #c66c49;
  height: 24px;
  width: 280px;
}
.container .skillsblock .skillsbasic .information .information7 {
  display: flex;
  flex-flow: row;
  margin: 20px 20px;
}
.container .skillsblock .skillsbasic .information .information7 .tools3 {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.container .skillsblock .skillsbasic .information .information7 .html {
  margin-left: 140px;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}
.container .portfolioblock {
  height: 822px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-right: 150px;
}
.container .portfolioblock .info {
  display: flex;
  flex-flow: column;
  margin-right: 100px;
}
.container .portfolioblock .info .portfoliomain {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 80px;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
.container .portfolioblock .info .research1 {
  display: flex;
  flex-flow: column;
  margin-bottom: 120px;
}
.container .portfolioblock .info .research1 .research2 {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 50px;
}
.container .portfolioblock .info .research1 .text3 {
  width: 300px;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}
.container .portfolioblock .info .research1 .arrow {
  display: flex;
  flex-flow: row;
  margin-top: 270px;
}
.container .portfolioblock .info .research1 .arrow .arrow1 {
  margin-right: 30px;
}
.container .portfolioblock .images {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  margin-left: 140px;
}
.container .portfolioblock .images .imgcol1 {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
}
.container .portfolioblock .images .imgcol1 .img1 {
  margin-right: 25px;
}
.container .portfolioblock .images .imgcol1 .img2 {
  margin-bottom: 25px;
}
.container .portfolioblock .images .imgcol2 {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
}
.container .portfolioblock .images .imgcol2 .img3 {
  margin-right: 25px;
}
.container .getintouch {
  height: 528px;
  background-color: #fffaf2;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.container .getintouch .getintouchmain-texts1 {
  display: flex;
  flex-flow: column;
  margin-right: 400px;
}
.container .getintouch .getintouchmain-texts1 .get-in-touch-main {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 50px;
}
.container .getintouch .getintouchmain-texts1 .texts1 {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}
.container .getintouch .getintouchmain-texts1 .texts1 .dribbble {
  margin-bottom: 10px;
}
.container .getintouch .getintouchmain-texts1 .texts1 .behance {
  margin-bottom: 10px;
}
.container .getintouch .getintouchmain-texts1 .texts1 .codepen {
  margin-bottom: 10px;
}
.container .getintouch .getintouchmain-texts1 .texts1 .github {
  margin-bottom: 10px;
}
.container .getintouch .texts2 {
  display: flex;
  flex-flow: column;
  margin-top: 50px;
  margin-right: 400px;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}
.container .getintouch .texts2 .linkedln {
  margin-bottom: 10px;
}
.container .getintouch .texts2 .facebook {
  margin-bottom: 10px;
}
.container .getintouch .texts2 .instagram {
  margin-bottom: 10px;
}
.container .getintouch .texts3 {
  display: flex;
  flex-flow: column;
  margin-bottom: 25px;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}
.container .getintouch .texts3 .mail {
  margin-bottom: 10px;
}
.container .getintouch .back-to-top {
  display: flex;
  margin-left: 100px;
  margin-top: 300px;
}

/*# sourceMappingURL=styles.css.map */
