* {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  .main {
    width: 100%;
    height: 100vh;
    background: rgba(198, 108, 73, 0.3);
    background-image: url("../img/Untitled-1.svg");
    background-size: cover;
    .navigation {
      display: flex;
      justify-content: flex-end;
      .menu {
        margin: 165px 93px;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
      }
      .logo {
        position: absolute;
        left: 120px;
        margin: 165px 93px;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #ffffff;
      }
    }
  }
  .about {
    background-color: white;
    height: 544px;
    .aboutspan {
      position: absolute;
      top: 900px;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      margin: 165px;
    }
    .textspan {
      position: absolute;
      top: 1000px;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      text-align: justify;
      margin: 165px;
    }
    .textspan1 {
      position: absolute;
      top: 1150px;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      text-align: justify;
      margin: 165px;
    }
  }
}
