html {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  float: none;
  background-color: #fff;
  .hero-block-1 {
    background: no-repeat, rgba(198, 108, 73, 0.4);
    background-image: url(../img/Untitled-1.svg);
    background-size: cover;
    height: 768px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: aqua;
    justify-content: space-around;
    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 20%;
      .portfolio {
        margin: 200px;
        display: flex;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #ffffff;
      }
      .navigation {
        display: flex;
        margin-right: 400px;
        width: 100%;
        justify-content: flex-end;
        margin-block-end: 10px;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
        .home {
          margin-left: 59px;
        }
        .about {
          margin-left: 59px;
        }
        .skills {
          margin-left: 59px;
        }
        .portfolio2 {
          margin-left: 59px;
        }
        .contact {
          margin-left: 59px;
        }
      }
    }
    .texts {
      display: flex;
      flex-flow: column nowrap;
      margin-left: 200px;
      justify-content: center;
      .hidesigner {
        .hi {
          font-family: Libre Franklin;
          font-style: normal;
          font-weight: normal;
          font-size: 64px;
          line-height: 78px;
          color: white;
        }
        .designer {
          font-family: Libre Franklin;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 29px;
          color: white;
        }
      }
      .latest {
        margin-top: 100px;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-decoration-line: underline;
        color: white;
      }
    }
  }
  .aboutblock {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
    margin: 70px 70px;
    height: 544px;
    .aboutmain {
      margin: 50px 50px;
      margin-bottom: 50px;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #333333;
    }
    .text {
      margin: 50px 50px;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      text-align: justify;
      .text1 {
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        text-align: justify;
      }
      .text2 {
        margin-top: 30px;
      }
    }
  }
  .skillsblock {
    height: 693px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #fffaf2;
    .skillsmain {
      display: flex;
      justify-content: flex-start;
      margin-right: 1135px;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
    }
    .skillsbasic {
      margin-right: 110px;
      margin-top: 50px;
      display: flex;
      flex-flow: row;
      .img {
        margin-right: 220px;
      }
      .information {
        display: flex;
        flex-flow: column nowrap;
        .information1 {
          display: flex;
          flex-flow: row;
          margin: 20px 20px;
          .profile {
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
          }
          .front {
            margin-left: 100px;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
          }
        }
        .information2 {
          display: flex;
          flex-flow: row;
          margin: 20px 20px;
          .research {
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
          }
          .bar1 {
            display: flex;
            margin-left: 50px;
            .bar1-1 {
              background-color: #f5d6ab;
              height: 24px;
              width: 400px;
            }
            .bar1-2 {
              position: relative;
              right: 400px;
              background-color: #c66c49;
              height: 24px;
              width: 350px;
            }
          }
        }
      }
    }
  }
  .portfolioblock {
    height: 822px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-right: 150px;
    .info {
      display: flex;
      flex-flow: column;
      margin-right: 100px;
      .portfoliomain {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 80px;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
      }
      .research1 {
        display: flex;
        flex-flow: column;
        margin-bottom: 120px;
        .research2 {
          font-family: Libre Franklin;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
          margin-bottom: 50px;
        }
        .text3 {
          width: 300px;
          font-family: Libre Franklin;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 30px;
          text-align: justify;
        }
        .arrow {
          display: flex;
          flex-flow: row;
          margin-top: 270px;
          .arrow1 {
            margin-right: 30px;
          }
        }
      }
    }
    .images {
      display: flex;
      flex-wrap: wrap;
      flex-flow: column;
      .imgcol1 {
        display: flex;
        flex-wrap: wrap;
        flex-flow: row;
        .img1 {
          margin-right: 25px;
        }
        .img2 {
          margin-bottom: 25px;
        }
      }
      .imgcol2 {
        display: flex;
        flex-wrap: wrap;
        flex-flow: row;
        // убрать пустоту между .img1 и .img3
        .img3 {
          margin-right: 25px;
        }
      }
    }
  }
  .getintouch {
    height: 528px;
    background-color: #fffaf2;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    .getintouchmain-texts1 {
      display: flex;
      flex-flow: column;
      margin-right: 400px;
      .get-in-touch-main {
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 50px;
      }
      .texts1 {
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        .dribbble {
          margin-bottom: 10px;
        }
        .behance {
          margin-bottom: 10px;
        }
        .codepen {
          margin-bottom: 10px;
        }
        .github {
          margin-bottom: 10px;
        }
      }
    }
    .texts2 {
      display: flex;
      flex-flow: column;
      margin-top: 50px;
      margin-right: 400px;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      .linkedln {
        margin-bottom: 10px;
      }
      .facebook {
        margin-bottom: 10px;
      }
      .instagram {
        margin-bottom: 10px;
      }
    }
    .texts3 {
      display: flex;
      flex-flow: column;
      margin-bottom: 25px;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      .mail {
        margin-bottom: 10px;
      }
    }
    .back-to-top {
      display: flex;
      margin-left: 100px;
      margin-top: 300px;
    }
  }
}
